.container-principal-product{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-select-product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80vw;
    height: 60vh;
    max-width: 400px;
    min-width: 260px;
    max-height: 500px;
    border-radius: 24px;
    box-shadow: inset;
    background: var(--verde);
}

.product-details {
    width: 50vw;
    max-width: 220px;
    min-width: 160px;
}

.container-select-product img{
    max-width: 300px;
    max-height: 200px;
    border-radius: 24px;
}

.container-select-product h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--branco);
    margin-bottom: 0.5em;
}

.container-select-product p {
    font-size: 14px;
    font-weight: 300;
    color: var(--branco);
    margin-bottom: 0.5em;
}

.container-select-product #productPrice {
    color: var(--amarelo);
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.container-select-product #listCartButton {
    width: 90%;
    padding: 0.5em 1em;
    width: 100%;
    margin-top: 0.5em;
    border-radius: 8px;
    background: var(--verde-escuro); 
    border: none;
    cursor: pointer;
}

.container-select-product #emptyEstoqueButton {
    width: 90%;
    padding: 0.5em 1em;
    width: 100%;
    margin-top: 0.5em;
    border-radius: 8px;
    background: var(--amarelo); 
    border: none;
    cursor: pointer;
}